<h1>Processador de Sugestões de Turmas</h1>

<div class="well">
  Utilize esta funcionalidade para importar sugestões de turmas informadas por professores. <br>
  Etapas:
  <ol>
    <li>Baixar planilha preenchível</li>
    <li>Preencher planilha de acordo com as orientações nela contidas</li>
    <li>Submeter planilha</li>
  </ol>
</div>
<%= link_to "Importar Planilha de Sugestões", import_suggestions_spreadsheet_path(url: process_suggestions_spreadsheet_path), remote: true, class:"btn btn-success"%>
<%= link_to "Baixar planilha de recursos", "/spreadsheets/recursos.xlsx", :target => '_blank', class:"btn"%>
<%= link_to "Baixar planilha de horários", "/spreadsheets/horarios.xlsx", :target => '_blank', class:"btn"%>

<br>

<hr>

<div ng-controller="ClassSuggestionController">
  <div ng-class="{'hidden':  status.status == null}" >
    <h2>Progresso </h2>
    <ol class="status-list">
      <li ng-class="{'active': status.status == 'input_conversion'}">Convertendo entrada...</span>
      </li>
      <li ng-class="{'active': status.status == 'generate_possibilities'}">Gerando possibilidades de alocação...</li>
      <li ng-class="{'active': status.status == 'removing_conflicts'}">Removendo Conflitos...</li>
      <li ng-class="{'active': status.status == 'generating_results'}">Gerando planilha final...</li>
      <li ng-class="{'active': status.status == 'done'}">Feito</li>
    </ol>
    <div class="progress">
      <div class="bar" style="width: {{status.processed/status.total_to_process * 100}}%"></div>
    </div>
    <div class="progress-sub">
      <sub>{{status.processed}}/{{status.total_to_process}}</sub>
    </div>
  </div>

<ul class="pager">
  <li class="previous">
    <a href="javascript:history.back()">← Voltar</a>
  </li>
  <li ng-class="{'hidden':  status.status != 'done'}">
    <%= link_to "Verificar Resultados →", class_suggestions_results_path, id: "advance-button"%>
  </li>
</ul>

</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
