<h1>Processador de Sugestões de Turmas</h1>

<div class="well">
  Utilize esta funcionalidade para importar sugestões de turmas informadas por professores. <br>
  Etapas:
  <ol>
    <li>Baixar planilha preenchível</li>
    <li>Preencher planilha de acordo com as orientações nela contidas</li>
    <li>Submeter planilha</li>
  </ol>
</div>
<%= link_to "Importar Planilha", new_reservation_group_path, class:"btn btn-success"%>
<%= link_to "Baixar planilha preenchível", "/Manual OpenRes IMD.pdf", :target => '_blank', class:"btn"%>


<%= render "shared/back"%>
