<h1>Processador de Sugestões de Turmas</h1>

<div class="well">
  Utilize esta funcionalidade para importar sugestões de turmas informadas por professores. <br>
  Etapas:
  <ol>
    <li>Baixar planilha preenchível</li>
    <li>Preencher planilha de acordo com as orientações nela contidas</li>
    <li>Submeter planilha</li>
  </ol>
</div>
<%= link_to "Importar Planilha de Sugestões", import_suggestions_spreadsheet_path(url: import_suggestions_spreadsheet_path), remote: true, class:"btn btn-success"%>
<%= link_to "Baixar planilha preenchível", "/spreadsheets/modelo_reserva_em_lote.xlsx", :target => '_blank', class:"btn"%>


<%= render "shared/back"%>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
