<h1>Dashboard de Administrator de Setor</h1>

<hr>

<h3>Reservas Futuras</h3>

<%= render 'reservations/categorized_reservations'%>

<%= link_to 'Todas as Reservas', check_reservations_path, class:"btn btn-normal" %>
<%= link_to 'Reservas Finalizadas', "/reservations/finished", class:"btn btn-normal" %>