<%= simple_form_for(:justification, url: (request.original_url.include?("reject") ? reservation_group_reject_path : reservation_group_suspend_path)) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Escreva abaixo o motivo para esta Reserva Mútipla</h3>
  </div>
  <div class="modal-body">
    <%= f.input :reason, as: :text, label: "Motivo" %>
  </div>
  <div class="modal-footer">
    <%= f.submit (request.original_url.include?("reject") ? "Rejeitar" : "Suspender"), class: "btn btn-normal" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
  </div>

<% end %>
