<h1>Detalhes desta Sala</h1>
<%= link_to 'Editar Informações desta Sala', edit_user_place_path(@user_place), class:"btn-small btn-primary"%> 


<hr>


<dl>
  <dt>Código:</dt> <dd><%= @user_place.code %></dd>
  <dt>Professor responsável:</dt> <dd><%= link_to @user_place.user.name, @user_place.user %></dd>
</dl>

<%= render 'back_index'%>