<%if params[:filter_by] == "future" %>
  <h1>Checando Reservas Futuras</h1>
<% elsif params[:filter_by] == "finished" %>
  <h1>Checando Reservas Finalizadas</h1>
<%else%>
  <h1>Checando Reservas</h1>
<%end%>

<%= render 'reservations/categorized_reservations'%>

<%= link_to 'Reservas Futuras', check_reservations_path(filter_by: "future"), class:"btn btn-normal" %>
<%= link_to 'Reservas Finalizadas', check_reservations_path(filter_by: "finished"), class:"btn btn-normal" %>
<%= link_to 'Todas as Reservas', check_reservations_path, class:"btn btn-normal" %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
