<h1>Listando Reservas</h1>

<%= render 'reservations/categorized_reservations'%>

<%= link_to 'Reservas Futuras', "/reservations/future", class:"btn btn-primary" %>
<%= link_to 'Reservas Finalizadas', "/reservations/finished", class:"btn btn-primary" %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>