<h2>Listando Reservas Múltiplas</h2>

<% unless @reservation_groups.length %>
  <% @reservation_groups.each do |reservation_group| %>

  <% end %>
<%else%>
  <p>Não existem reservas deste tipo</p>
<% end %>

<%= link_to "Nova Reserva Múltipla", new_reservation_group_path, class:"btn btn-success"%>
