<h1>Detalhes do Departamento</h1>
<%= link_to 'Editar Informações deste Departamento', edit_sector_path(@sector), class:"btn-small btn-primary"%> 


<hr>


<dl>
  <dt>Nome:</dt> <dd><%= @sector.name %></dd>
  <dt>Descrição:</dt> <dd><%= @sector.description %></dd>
</dl>

<%= render 'back_index'%>