<% if current_user and current_user.role == "secretary" or current_user.role == "admin" %>


<%= render 'shared/reserver_user_menu' %>
<!---<li><%= link_to "Objetos", "/object_resources"  %></li> -->
<li><%= link_to "Verificar Reservas", check_reservations_path %></li>

<% end %>