<% if current_user %>

  <li><%= link_to "Início", "/dashboard"  %></li>
  <li><%= link_to "Minhas Reservas", "/reservations/basic_reservations"  %></li>
  <li><%= link_to "Salas de Professores", user_places_path  %></li>
<% end %>