<p>
  Olá, <br>
  A reserva para a sala <%=@reservation.place.name %> sob sua jurisdição entre as <%=@reservation.begin_time.strftime("%H:%M") %> e <%=@reservation.end_time.strftime("%H:%M") %> foi CANCELADA.
</p>

<p>
(este é um e-mail automático. Dúvidas, entre em contato com a secretaria do departamento responsável pela sala solicitada.)
</p>
