<p class= "decentered_text"><strong>Prezado Usuário,</strong></p>


<p class= "decentered_text">
  seja bem vindo ao sistema de gestão dos espaços físicos do Instituto Metrópole Digital (IMD). O IMD possui uma ampla estrutura para apoio aos cursos técnicos, de graduação, pós-graduação, aos projetos de inovação e incubação de   empresas. O sistema foi desenvolvido com o objetivo de permitir uma gestão mais eficiente dos espaços físicos do instituto. Clique <a href="http://github.com/IMD-UFRN/OpenRes">aqui</a> para saber sobre o OpenRes.
</p>
