<div class="about_form">
  <h2>Prezado Usuário,</h2>

  <p>
    seja bem vindo ao <strong>OpenRes</strong>, o sistema de gestão dos espaços físicos do Instituto Metrópole Digital (IMD). O IMD possui uma ampla estrutura para apoio aos cursos técnicos, de graduação, pós-graduação, aos projetos de inovação e incubação de   empresas.
  </p>
  <p>
    O sistema foi desenvolvido com o objetivo de permitir uma gestão mais eficiente dos espaços físicos do instituto, com foco na marcação de reservas de sala.
  </p>
  <p>Clique <a href="http://github.com/IMD-UFRN/OpenRes">aqui</a> para saber sobre o desenvolvimento do <strong>OpenRes</strong>.
  </p>
</div>
