<h1>Gerenciador de Salas IMD</h1>

<h4>
<p>Bem vindo ao sistema web que irá mudar a forma como as reservas e marcação de salas são feitas.</p>
<p>Precisa de uma sala? Entre, escolha o tipo, um horário e pronto!</p>
<p>Depois que a reserva foi feita, não se preocupe! Você receberá e-mail de acompanhamento da situação de sua reserva.</p>
<p>E mais! Você também pode facilmente verificar qual a sala de algum servidor do prédio.</p>
<p>Novas funcionaldides serão implementadas constantemente, não deixe de checar!</p>
</h4>

