<div class="about_form">
  <h2>Novidades</h2>


  <h3>Dia 10/10/2014</h3>
  <ul>
    <li>Erro ao acessar página de salas corrigido.</li>
  </ul>

  <h3>Dia 09/10/2014</h3>

  <ul>
    <li>Notificação amigável ao editar dados.</li>
    <li>Não é mais necessário alterar senha para alterar dados.</li>
    <li>É possível editar sala e período de reserva múltipla.</li>
    <li>É possível fazer busca por nome ou código de salas na lista de salas.</li>
  </ul>

  <h3>Dia 07/10/2014</h3>

  <ul>
    <li>Página de novidades criada</li>
    <li>Mapa de salas agora possui mais informações a respeito da sala selecionada.</li>
    <li>Quando se seleciona uma sala no mapa, mais informações sobre a mesma são exibidas.</li>
    <li>É possível agora fazer uma reserva simples a partir de uma sala selecionada no mapa.</li>
    <li>Código de reserva é exibido juntamente das reservas.</li>
  </ul>

  <%= render "/shared/back" %>
</div>
