<div class="about_form">
  <h2>Novidades</h2>


  <h3>Dia 02/10/2014</h3>

  <ul>
    <li>Página de novidades criada</li>
    <li>Mapa de salas agora possui mais informações a resepeito da sala selecionada.</li>
    <li>Quando se seleciona uma sala no mapa, mais informações sobre a mesma são exibidas.</li>
    <li>É possível agora fazer uma reserva simples a partir de uma sala selecionada no mapa.</li>
    <li>Código de reserva é exibido juntamente das reservas.</li>
  </ul>

  <%= render "/shared/back" %>
</div>
