<div class="about_form">
  <h2>Novidades</h2>


  <h3>Dia 30/10/2014</h3>
  <ul>
    <li>Reservas para turmas agora funciona via importação de planilhas.</li>
    <li>Adicionada situação "Não salva" para reservas ainda não confirmadas pelo usuário que as realizou.</li>
    <li>Reservas simples podem ser feitas pela pesquisa de salas disponíveis em um horário.</li> 
  </ul>

  <h3>Dia 23/10/2014</h3>
  <ul>
    <li>Usuário agora é mantido na mesma página quando manipula reservas de uma reserva múltipla.</li>
    <li>Versão inicial de reservas para turmas.</li>
  </ul>

  <h3>Dia 22/10/2014</h3>
  <ul>
    <li>Adicionadas ações em massa para reserva múltipla.</li>
  </ul>

  <h3>Dia 16/10/2014</h3>
  <ul>
    <li>Adicionadas ações em massa para aprovadores de reservas.</li>
  </ul>

  <h3>Dia 13/10/2014</h3>
  <ul>
    <li>Corrigido erro ao acessar página de salas.</li>
  </ul>

  <h3>Dia 09/10/2014</h3>

  <ul>
    <li>Notificação amigável ao editar dados.</li>
    <li>Não é mais necessário alterar senha para alterar dados.</li>
    <li>É possível editar sala e período de reserva múltipla.</li>
    <li>É possível fazer busca por nome ou código de salas na lista de salas.</li>
  </ul>

  <h3>Dia 07/10/2014</h3>

  <ul>
    <li>Página de novidades criada</li>
    <li>Mapa de salas agora possui mais informações a respeito da sala selecionada.</li>
    <li>Quando se seleciona uma sala no mapa, mais informações sobre a mesma são exibidas.</li>
    <li>É possível agora fazer uma reserva simples a partir de uma sala selecionada no mapa.</li>
    <li>Código de reserva é exibido juntamente das reservas.</li>
  </ul>

  <%= render "/shared/back" %>
</div>
