<h3>Todas as Reservas</h3>

<%= render 'reservations/categorized_reservations'%>

<%= link_to 'Reservas Futuras', "/reservations/future", class:"btn btn-primary" %>
<%= link_to 'Reservas Finalizadas', "/reservations/finished", class:"btn btn-primary" %>
