<h3>Todas as Reservas</h3>

<%= render 'reservations/user_reservations' %>

<%= link_to 'Reservas Futuras', "/reservations/basic_future_reservations", class:"btn btn-primary" %>
<%= link_to 'Reservas Finalizadas', "/reservations/basic_finished_reservations", class:"btn btn-primary" %>