<h3>Reservas Finalizadas</h3>

<%= render 'reservations/categorized_reservations'%>

<%= link_to 'Reservas Futuras', "/reservations/future", class:"btn btn-primary" %>  
<%= link_to 'Todas as Reservas', "/reservations/all", class:"btn btn-primary" %>
