<div id="new_reservation">
  <div class="row-fluid">
    <div class="span5">
      <div class="fixed">
      <h1>

        <% if @reservation.reservation_group %>
          <%= "Adicionando Reserva a \"#{@reservation.reservation_group.name}\"" %>
        <% else %>
          <%= "Nova Reserva" %>
        <% end %>

      </h1>
        <%= render 'reservations/form' %>
        <%= render 'shared/back'%>
      </div>
    </div>

    <div class="span6" id="place_preview">
    </div>
  </div>
</div>



<script id="place_preview_template" type="text/x-handlebars-template">

<div class= "panel panel-info preview-panel">

  <h3 class= "panel-heading">Detalhes da sala</h3>

  <div class = "panel-body">

    <p>Data: {{this.date}}</p>
    <p>Nome da sala: {{this.name}}</p>
    <p>Capacidade: {{this.capacity}}</p>

    <div class= "panel panel-info">
      <p class= "panel-heading">Usuários responsáveis por esta sala:</p>
      {{#each this.responsibles}}
          <p> {{name}}  ({{email}})</p>
      {{else}}
        <p class="muted">Nenhum responsável</p>
      {{/each}}
    </div>
    <div class= "panel panel-info">
      <p class= "panel-heading">Equipamento desta sala:</p>
      {{#each this.objects}}
          <p> {{name}}</p>
      {{else}}
        <p class="muted">Nenhum equipamento</p>
      {{/each}}
    </div>

    <div class= "panel panel-info">

      <p class= "panel-heading">Reservas marcadas para esta sala no dia selecionado:</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Início</th>
            <th>Fim</th>
            <th>Requisitor</th>
            <th>Motivo</th>
            <th>Situação</th>
          </tr>
        </thead>

        <tbody>

          {{#each this.reservations}}
          <tr>
            <td>{{prettifyDate begin_time}}</td>
            <td>{{prettifyDate end_time}}</td>
            <td><a href={{requester_url}}>{{requester}}</a></td>
            <td>{{reason}}</td>
            <td>{{prettyStatus status}}</td>
          {{else}}
            <tr><td class="muted" colspan="5">Nenhuma reserva</td></tr>
          {{/each}}
        </tbody>
      </table>
      </div>

      <div class= "panel panel-info">
        <p class= "panel-heading">Salas semelhantes disponíveis</p>

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>

          <tbody>

            {{#each this.similar_places}}
            <tr>
              <td>{{full_name}}</td>
            </tr>
            {{else}}
              <tr><td class="muted">Nenhuma sala</td></tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>
