<h3>Reservas Futuras</h3>

<%= render 'reservations/user_reservations'%>

<%= link_to 'Todas as Reservas', "/reservations/basic_reservations", class:"btn btn-primary" %>
<%= link_to 'Reservas Finalizadas', "/reservations/basic_finished_reservations", class:"btn btn-primary" %>