<%= simple_form_for(@driver) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:"Nome" %>
  </div>


  <%= f.button :submit, "OK", class: "btn btn-success" %>

<% end %>

<hr>
