body{
  margin-top:-64px;
}

footer{
  text-align: center;
}

.reservation {
  margin: 10px;
  padding: 5px;
}

li.muted {
  font-style: italic;
  color: #666; 
}

img{
  pading-top:10;
  display:inline;
}

.table-title{
  font-size: 1.5em;
}

.text-right{
  padding-top:5px;
  color: #fff;
}