body{
  margin-top:1em;
}

footer{
  text-align: center;
}

.reservation {
  margin: 10px;
  padding: 5px;
}

li.muted {
  font-style: italic;
  color: #666;
}

img{
  display:inline;
}

.table-title{
  font-size: 1.3em;
}

.btn-nav{
  margin-left:20px;
  margin-top: 10px;
}

.text-right{
  padding-top:5px;
  color: black;
}

.about_form{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  font-size: 1.2em;
  line-height: 2em;
}

.login_form{
  margin-left:auto;
  width:30%;
  margin-right:auto;
}

.inline_label{

  float: left;
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
  padding-right:8px;

  div.input {
    margin-bottom: 8px;
  }
}

.multi-field-wrapper {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: -15px;

  .multi-field{
    margin-left: -28px;
  }

  .add-field{
    margin-left: -28px;
  }
}

.reservations{
  .table{
    margin-left: -28px;
  }
}


.session{
  color: black;
}

.clear{
  clear:both;
}

.myBrand{
  color: #AAB3AB;
  display: inline;
  padding: 0.5em;
  &:hover {
    color: #413D3D !important;
  }
}

.navbar {
  .navbar-inner {
    background-color: #eeeeee;
    background-image: none;
  }
}

.nav {
  .login_path{
    a {
      color: black;
      background: #AAB3AB;
      text-shadow: none !important;

      &:hover {
        background: #413D3D !important;
      }
    }
  }
}

.btn-normal{
  background:#9E9E9E;
  color: white;

  &:hover {
    background: #AAB3AA !important;
    color: white;
  }
}

.btn-normal.muted {
  pointer-events: none;
  cursor: default;
  background: #E8E8E8;
}

.big {
  font-size: 1.5em;
  color: black;
  line-height: 1.3em;
}



.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.conflicted_reservation{
  color: red;
}


.place-checkin {
  display: block;
  line-height: 20px;

  .fa {
    line-height: 20px;

    &.occupied {
      color: #FF0039;
    }

    &.free {
      color: #4E9F15;
    }
  }
}

.toggleIcon{
  font-weight: bold;
  padding-left: 1em;
  cursor:pointer
}

h3{
  font-size: 1.3em
}

.panel-slots{
  margin-bottom: 2px;
}

.fixed{
  position: fixed;
  width:inherit;
  font-weight:inherit;
}

.preview-panel{

}

.no-padding{
  margin-left:0 !important
}

.search-title{
  font-size: 1em;
  margin-top:-25px;
  padding-bottom:0;
  padding-top:0;

}

.subtitle{
  font-size:.8em;
  color: #ABABAB
}

.inline{
  display: inline
}

.my-list-group{
  margin-top: 1em;
  margin-left: 0;
  li{
    list-style: none;
    span{
      float: right
    }
  }
  .badge{
    background: #767878;
  }
}

.no-margin-left{
  margin-left: 0 !important;
}
.my-pagination{
  ul{
    display: block;
  }
  li{
    list-style: none;
    border: 1px solid #9d9c9e;
    margin: 2px;
    text-align:center;
    line-height: 2em;
    width: 2em;
    a{
      display: block;
      &:hover{
        background: #d0d0d0
      }
    }
    a.active{
      background: #e4e3e3
    }
    border-radius: 2px
  }
}

.sidebar-nav{
  padding-left: 0em;
  padding-right: 0em;
  .badge{
    background: #2780e3;
    border-radius:10px;
  }

}

.margin-left{
  margin-left: 1em;
}

.inline{
  display: inline;
}

.new-reservation-box{
  height: 70px;
  display: inline-block;
}

.menu-title{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.addthisevent{
  color: red !important;
}

.center{
  text-align: center;
}

ol.status-list {
  li.active {
    font-weight: bold;
  }
}

.icon-active{
  color: green;
}
