<p>Olá!</p>

<p>Você solicitou que sua senha fosse alterada. Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Alterar minha Senha', edit_user_password_path(@resource, :reset_password_token => @token) %></p>

<p>Se você não solicitou mudança em sua senha, por favor ignore este e-mail.</p>

<p>Sua senha não estará alterada até que clique no link acima.</p>


<p>Atenciosamnte,</p>

<p>Equipe Gerenciador de Recursos</p>
