<h1>Processador de Sugestões de Turmas</h1>
<hr>

<%= simple_form_for(:import, url: process_suggestion_spreadsheet_path) do |f| %>

  <h3>Importar Planilha de turmas</h3>

  <%= f.input :spreadsheet, as: :file, label: "Planilha" %>

  <%= f.submit "Importar", class: "btn btn-normal" %>

<% end %>
